extends _layout.pug

block title 
  title Welcome to Pulse

append link
  link(rel='stylesheet', type='text/css', href=cssUrl+'/index.css')

append script
  script(src=npmUrl+'/core-js/client/shim.min.js')
  script(src=npmUrl+'/zone.js/dist/zone.js')
  script(src=npmUrl+'/reflect-metadata/Reflect.js')
  script(src=jsUrl+'/index.js')

block body
  app-foo Loading...
